

<!-- Container (Contact Section) -->
<div class="container" >
    <h2 class="text-left">CONTACT US</h2>
    <br>
    <p>We are here to answer any questions you have. Just send us a message in the form below.</p>
    <br>
    <div class="row">
      
      <div class="col-sm-7">
        <form>
        <div class="row">
          <div class="col-sm-6 form-group">
              <label>First Name</label><span class="required">*</span>
            <input class="form-control" id="name" name="name"  type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <label>E-mail</label><span class="required">*</span>
            <input class="form-control" id="email" name="email"  type="email" required>
          </div>
        </div>
        <label>Enquiry</label>
        <textarea class="form-control" id="comments" name="comments" rows="5"></textarea><br>

        <p class="inner">Enter the code in the box below.</p><span class="required inner">*</span> <br>

        <input type="text">
        <br><br>
        <input type="text" class = "e" style="background-image: url('https://us.123rf.com/450wm/doozydo/doozydo1708/doozydo170800961/84326475-colorful-polka-dots-seamless-pattern-on-black-18-background-marvelous-classic-colorful-polka-dots-te.jpg'); " placeholder="1a61Ac">

        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-primary pull-right" type="submit" style="padding-right: 20px; padding-left: 20px;" (click)="sweetSend()">Send</button>
          </div>
        </div>
        </form>
      </div>

<!-- Conntact Details -->

      <div class="col-sm-5 border border-primary shadow"  style="padding-left: 20px; padding-top: 20px; background-color:#FFF8C6; border-color: #FFF8C6 !important; ">
        
            
            
            <i class="fa fa-phone inner" aria-hidden="true"></i> &nbsp;
            <p class="inner" style="font-weight: bolder;"><span class="glyphicon glyphicon-map-marker inner"></span> Telephone</p>
            <p style="padding-top: -150%; padding-left: 7%;"><span class="glyphicon glyphicon-map-marker"></span> Lanka Bell Hotline : 011 576 7767</p>
            <br>
            
            <i class="fa fa-fax inner" aria-hidden="true"></i> &nbsp;
            <p class="inner" style="font-weight: bolder;"><span class="glyphicon glyphicon-phone"></span> Fax</p>
            <p style="padding-top: -150%; padding-left: 7%;"><span class="glyphicon glyphicon-map-marker"></span> Bell Store Hotline : 011 537 5375</p>
            <br>
            <i class="fa fa-map-marker inner" aria-hidden="true"></i> &nbsp;
            <p class="inner" style="font-weight: bolder;"><span class="glyphicon glyphicon-envelope"></span> Address</p>
            <p style="padding-top: -150%; padding-left: 7%;"><span class="glyphicon glyphicon-map-marker"></span> Lanka bell Ltd <br>
            No.B44, Galle Road,<br>
            Colombo 03.<br>
            Sri Lanka.</p>

            <br>
        <div style="padding-bottom: 5%;">
            <a type="button" class="btn-floating btn-fb" style="padding-top: -150%; padding-left: 7%;">
                <i class="fa fa-facebook-square" style="font-size: 38px; "></i>
              </a> &nbsp;
              <a type="button" class="btn-floating btn-fb">
                <i class="fa fa-twitter" style="font-size: 38px;"></i>
              </a>
        </div>       
      </div>
          
    </div>

    <br>
  </div>
