

<div class="container"><br><br>
  <img width="100%"   src="assets/Images/111.jpg"><br>

<div class="mt-5">
    <h1 style="text-align: center;">Branch Network</h1>
  </div>
    <div class="mt-5">
        <div class="row">
          <div class="col">

              <div class= " card text-white bg-primary " style="max-width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">AMBALANTHOTA</h5>
                <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                </div>
              </div>
             <br>
             <div class= " card text-white bg-primary " style="max-width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">AMBALANTHOTA</h5>
                <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                </div>
             </div>
             <br>
             <div class= " card text-white bg-primary " style="max-width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">AMBALANTHOTA</h5>
                <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                </div>
              </div>
             <br>
             <div class= " card text-white bg-primary " style="max-width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">AMBALANTHOTA</h5>
                <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                </div>
             </div>
             <br>
             <div class= " card text-white bg-primary " style="max-width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">AMBALANTHOTA</h5>
                <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                </div>
              </div>
             <br>
             <div class= " card text-white bg-primary " style="max-width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">AMBALANTHOTA</h5>
                <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                </div>
             </div>
          </div>

          <div class="col">

                <div class= " card text-white bg-primary " style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">AMBALANTHOTA</h5>
                    <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                    </div>
                </div>
                <br>
                <div class= " card text-white bg-primary " style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">AMBALANTHOTA</h5>
                    <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                    </div>
                </div>
                <br>
                <div class= " card text-white bg-primary " style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">AMBALANTHOTA</h5>
                    <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                    </div>
                </div>
                <br>
                <div class= " card text-white bg-primary " style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">AMBALANTHOTA</h5>
                    <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                    </div>
                </div>
                <br>
                <div class= " card text-white bg-primary " style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">AMBALANTHOTA</h5>
                    <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                    </div>
                </div>
                <br>
                <div class= " card text-white bg-primary " style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">AMBALANTHOTA</h5>
                    <p class="card-text">TEL - 047 567 0000<br> B N SAMARA GUNARATHNA, NO -23,BERAGAMA ROAD, AMBALANTOTA</p>
                    </div>
                </div>
          </div>

          <div class="col">

            <div class="mapouter"><div class="gmap_canvas"><iframe width="431" height="805" id="gmap_canvas"
                src="https://maps.google.com/maps?q=sri%20lanka&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0"
                scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">movies123</a></div>
                <style>.mapouter{position:relative;text-align:right;height:805px;width:431px;}.gmap_canvas {overflow:hidden;background:none!important;height:805px;width:431px;}</style></div>
          </div>
      </div>

</div>
