
<header>
  <div class="container-fluid">
    <div class="float-right" style="margin-top: 6px;">
    <a class="inner" href="#modalLoginForm" data-toggle="modal">Login</a>&nbsp;
    <p class="inner">or</p>&nbsp;
    <a class="inner" routerLink="/register" >Register</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a type="button" class="btn-floating btn-fb">
      <i class="inner fa fa-bell" style="font-size: 28px;"></i>
    </a>&nbsp;&nbsp;
    <a type="button" class="btn-floating btn-fb">
      <i class="inner fa fa-shopping-cart" style="font-size: 28px;"></i>
    </a>
   </div>
   <br>
  
    <hr>
      <div class="row shadow-sm bg-white rounded" style="padding-bottom: -100px;">
        <div class="col-sm-2">       
      <img class="img-fluid" src="https://www.lankabell.com/bellstore/image/data/BELL STORE - Horizontal.jpg">
        </div>
        <div class="col-sm-3" style="padding-bottom: 20px;">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 20PX; padding-right: 20PX; ">
              All categories
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class = "col-sm-7">
          <div class="input-group mb-3">
            <input type="text" class="form-control fa"  id="iconified" placeholder="&#xf002; Search" style=" border-color: black; font-family: FontAwesome">
            &nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary" type="button" style=" background-color: #0e0ea1; padding-left: 40PX; padding-right: 40PX;">Search</button>
            
          </div>
          <ul class="nav nav-pills mb-3 float-right" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" routerLink="/storehome" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" routerLink="/wishlist" role="tab" aria-controls="pills-profile" aria-selected="false">Wish List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-home-tab" data-toggle="pill" routerLink="/shoppingCart" role="tab" aria-controls="pills-home2" aria-selected="false">Shopping Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Checkout</a>
            </li>          
          </ul>
        </div>
      </div> 
        <br>
  </div>
  </header>
  
  
  <router-outlet></router-outlet>
  
    <!-- Footer -->
  <footer class="page-footer font-small mdb-color lighten-3 pt-4 shadow-sm rounded" style="background-color: #f1f1f1">
  
    <!-- Footer Links -->
    <div class="container">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <i class="fa fa-info-circle inner" style="font-size: 24px;"></i>&nbsp;
          <h5 class="font-weight-bold text-uppercase mb-4 inner" style="font-size: 18px;">Information</h5>
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">About Us</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Delivery Notice</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <i class="fa fa-question-circle inner" style="font-size: 24px;"></i>&nbsp;
          <h5 class="font-weight-bold text-uppercase mb-4 inner" style="font-size: 18px;">Help</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a routerLink="/contactus" >Contact Us</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <i class="fa fa-laptop inner" style="font-size: 24px;"></i>&nbsp;
          <h5 class="font-weight-bold text-uppercase mb-4 inner" style="font-size: 18px;">Products</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">Laptops</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Desktops</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Accessories</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">Special Offers</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <i class="fa fa-user-circle inner" style="font-size: 24px;"></i>&nbsp;
          <h5 class="font-weight-bold text-uppercase mb-4 inner" style="font-size: 18px;">My Account</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">My Account</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">My Order History</a>
              </p>
            </li>
            <li>
              <p>
                <a routerLink="/wishlist">My Wish List</a>
              </p>
            </li>
            <li>
              <p>
                <a routerLink="/addressbook">Address Book</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4" style="font-size: 18px;">Follow Us On</h5>
  
          <a type="button" class="btn-floating btn-fb shadow p-2" style="border-radius: 50%;">
            <i class="fa fa-facebook-square" style="font-size: 34px;"></i>
          </a>
            <br><br>
          <a type="button" class="btn-floating btn-fb shadow p-1" style="border-radius: 50%;">
            <i class="fa fa-twitter" style="font-size: 38px;"></i>
          </a>
  
        </div>
        
  
      </div>
  
      
      
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
  
    <div class="hrline">
      <hr>
      </div>
    <div class="footer-copyright text-center py-3"> Copyright @ 2013 All Rights Reserved.
      <a href="https://mdbootstrap.com/"> Solution by Lanka Bell</a>
      <hr>
    </div>
    <!-- Copyright -->
  
  
  
  
  
  
  
  <!-- Model -->
  
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content" style=" background-size: 650px 365px; background-image: url(https://cdn.dribbble.com/users/1242979/screenshots/7099124/media/2dde2bbed9ce96e8f213b6160bcc591a.gif);">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold" style="color: beige;" >&nbsp;Welcome</h4>
          <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <br>
        <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        <div class="modal-body mx-2">
          <div class="md-form mb-4">
            <input type="email" id="defaultForm-email" class="form-control validate" placeholder="Email">
          </div>
  
          <div class="md-form mb-4">
            <input type="password" id="defaultForm-pass" class="form-control validate" placeholder="Password">
          </div>
          <div class="md-form mb-5">
          <button class="btn btn-primary btn-block">Login</button>
        </div>
  
        </div>
      </div>
      </div>
        <div class="col-sm-2"></div>
        
      </div>
    </div>
  </div>
  
  </footer>
  <!-- Footer -->
  
  
  
  