<title>Lanka Bell Career Opportunities</title>


<div class="container">
    <div class="row"  style="margin-top:12%;">
      <div class="col-lg-6 col-md-6">
        <img width="100%" height="50%" alt="Angular Logo" src="assets/Images/C.jpg">
      </div>
        <div class="col-lg-6 col-md-6">
            <p> Lanka Bell is an equal opportunity employer, who believes in performance based career growth with fair remunerations and rewards system. We ensure that all our employees are treated equally without prejudice. While taking the challenge to transform the local telecommunication industry by benchmarking with global standards, we currently strive for excellence by diversifying into new business areas to ensure sustainable growth.<br><br>
              As we continue to offer innovative next generation communication solutions to our customers with our continued market growth, we are in search of dynamic & energetic individuals to join hands and add value to the business by driving it together with positive attitudes to take the organization to the next level.<br><br>
              We are continually looking for talented, enthusiastic and passionate individuals to deliver and execute our vision with a solid mindset and service excellence. If you are one of those individuals please send us your CV to careers@lankabell.net and when a requirement does come up we will get in touch with you. </p>
      </div>
    </div>


    <div class="row">
      <div class="col">
          <div class="vertical-tab" role="tabpanel">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Account Manager</a></li>
                  <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Associate Engineer </a></li>
                  <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">IT Support Executive</a></li>
                  <li role="presentation"><a href="#Section4" aria-controls="messages" role="tab" data-toggle="tab">Junior Engineering Assistant</a></li>
                  <li role="presentation"><a href="#Section5" aria-controls="messages" role="tab" data-toggle="tab">Call Centre Representative</a></li>
                  <li role="presentation"><a href="#Section6" aria-controls="messages" role="tab" data-toggle="tab">Customer Care Representative</a></li>
                  <li role="presentation"><a href="#Section7" aria-controls="messages" role="tab" data-toggle="tab">Customer Retention Executive Job Responsibility</a></li>
                  <li role="presentation"><a href="#Section8" aria-controls="messages" role="tab" data-toggle="tab">Cashier Cum Customer Care Representatives</a></li>
                  <li role="presentation"><a href="#Section9" aria-controls="messages" role="tab" data-toggle="tab">Business Development Executive</a></li>

              </ul>
              <!-- Tab panes -->
              <div class="tab-content tabs">
                  <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                      <h3>Account Manager</h3>
                      <h2><p class="font-weight-bold mt-5">Job Responsibility</p></h2>
                      <p class="m-5">System analysis, designing, coding, unit testing, implementation and maintenance.<br><br>

                        Qualifications and Requirement
                        Good analytical skills.
                        Creative design and programming skills.
                        Excellent communication skills in English and willing to work long hours and meet deadlines.
                        Interest to learn and work in different technological environments simultaneously. Candidate will be expected to sit for a test.
                        Candidates should have a Degree in Electronic / Telecommunication/Networking / IT or an equivalent qualification from a recognized University / Institution.
                        Experience would be an added an advantage.<br><br>

                        If you are confident & possess the capabilities to take up a challenging & progressive career, Please send your CV to careers@lankabell.net<br><br>

                        Please post your CV to:<br><br>

                        Assistant Manager – Human Resources<br>
                        Lanka Bell Limited.<br>
                        No: 344, Galle Road, Colombo 03. </p>
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="Section2">
                      <h3>Associate Engineer</h3>
                     <h2><p class="font-weight-bold mt-5">Job Responsibility</p></h2>
                      <p class="m-5">  Responsible for end user IT Support activities.<br>
                        Responsible for trouble shooting and solving system related issue.<br>
                        QC on Bill runs.<br>
                        Responsible for 24x7 service delivery & Developing MIS report.<br><br>

                        Qualifications and Requirement<br>
                        Should possess a Degree in IT.<br>
                        Good analytical and problem solving skills.<br>
                        Possess good knowledge in Oracle SQL/PL SQL Skill.<br>
                        Good communication skills in English.<br>
                        Willing to work long hours and meet deadlines.<br>
                        Working on night shifts at bill runs will be essential.<br><br>

                        If you are confident & possess the capabilities to take up a challenging & progressive career, Please send your CV to careers@lankabell.net<br><br>

                        Please post your CV to:<br><br>

                        Assistant Manager – Human Resources<br>
                        Lanka Bell Limited.<br>
                        No: 344, Galle Road, Colombo 03.
                  </div>


                  <div role="tabpanel" class="tab-pane fade" id="Section3">
                      <h3>IT Support Executive</h3>
                      <h2><p class="font-weight-bold mt-5">Job Responsibility</p></h2>
                      <p class="m-5"> Responsible for installation of system, configuration, maintenance and troubleshooting of product poirtfolio.<br><br>

                        Qualifications and Requirement<br>
                        Candidates should have NVQ level 4 in Electronics / Telecommunications / Networking / IT or an equivalent qualification from a recognized University / Institution.<br>
                        Good communication skills, networking skills.<br>
                        Experience would be an added an advantage.<br><br>

                        If you are confident & possess the capabilities to take up a challenging & progressive career, Please send your CV to careers@lankabell.net<br><br>

                        Please post your CV to:<br><br>

                        Assistant Manager – Human Resources<br>
                        Lanka Bell Limited.<br>
                        No: 344, Galle Road, Colombo 03. <br>
                  </div>


                  <div role="tabpanel" class="tab-pane fade" id="Section4">
                    <h3>Junior Engineering Assistant</h3>
                    <h2><p class="font-weight-bold mt-5">Job Responsibility</p></h2>
                    <p class="m-5">Handle customer complaints and queries.<br>
                      Identify customer needs, and provide solutions to customer issues.<br>
                      Handle various incoming and outgoing calls in a timely manner.<br><br>

                      Qualifications and Requirement<br>
                      GCE O/L with credit passes in Mathematics and English.<br>
                      GCE A/L in any stream.<br>
                      School leavers are also encouraged to apply. Computer literacy.<br>
                      Fluency in English & Sinhala/Tamil.<br>
                      Good telephone etiquette and temperament.<br>
                      Effective communication skills.<br>
                      Experience in similar field would be an added advantage.<br><br>

                      If you are confident & possess the capabilities to take up a challenging & progressive career, Please send your CV to careers@lankabell.net<br><br>

                      Please post your CV to:<br><br>

                      Assistant Manager – Human Resources<br>
                      Lanka Bell Limited.<br>
                      No: 344, Galle Road, Colombo 03.
                </div>


                <div role="tabpanel" class="tab-pane fade" id="Section5">
                  <h3>Call Centre Representative</h3>
                  <h2><p class="font-weight-bold mt-5">Job Responsibility</p></h2>
                  <p class="m-5"> Attend to internal & external customer related activities.<br><br>

                    Qualifications and Requirement<br>
                    GCE Ordinary Level with Credit passes to Mathematics and English.<br>
                    Higher educational qualifications will be an added advantage.<br>
                    Computer literacy.<br>
                    Candidates must be smart, dynamic and outgoing with an aptitude for a high degree of customer relations.<br>
                    School leavers are also encouraged.<br><br>

                    If you are confident & possess the capabilities to take up a challenging & progressive career, Please send your CV to careers@lankabell.net<br><br>

                    Please post your CV to:<br><br>

                    Assistant Manager – Human Resources<br>
                    Lanka Bell Limited.<br>
                    No: 344, Galle Road, Colombo 03.
              </div>


              <div role="tabpanel" class="tab-pane fade" id="Section6">
                <h3>Customer Care Representative</h3>
                <h2><p class="font-weight-bold mt-5">Job Responsibility</p></h2>
                <p class="m-5"></p>  Daily calls to be completed as planned of allocated customer base, retain and inquiries to be handed in a efficient and professional manner.<br>
                  Collection of customer equipments from the field (4G/CDMA) and distribution/delivery of documents and customer equipments.<br>
                  To produce monthly progress reports.<br>
                  Proactive/ enthusiastic and positive attitude and passion for the job.<br><br>

                  Qualifications and Requirement<br>
                  GCE Ordinary Level with Credit passes to Mathematics and English.<br>
                  Ability to communicate fluency.<br>
                  Computer literacy.<br>
                  School leavers are also encouraged to apply.<br>
                  Experience in similar field would be an added advantage.<br><br>

                  If you are confident & possess the capabilities to take up a challenging & progressive career, Please send your CV to careers@lankabell.net<br><br>

                  Please post your CV to:<br><br>

                  Assistant Manager – Human Resources<br>
                  Lanka Bell Limited.<br>
                  No: 344, Galle Road, Colombo 03.
            </div>


            <div role="tabpanel" class="tab-pane fade" id="Section7">
              <h3>Customer Retention Executive Job Responsibility</h3>
              <h2><p class="font-weight-bold mt-5">We are looking for candidates residing in the following areas</p></h2>
              <p class="m-5"> Bambalapitiya, Colpetty, Kadawatha, Negombo, Nugegoda, Malabe, Mount Lavinia, Polonnaruwa, Piliyandala, Tissamaharama & Trincomalee.<br><br>

                Job Responsibility<br>
                Attend to internal & external customer related activities.<br>
                Processing payment receipts.<br>
                Coordination with various department/ Clusters.<br>
                Handling payments/Cash.<br><br>

                Qualifications and Requirement<br>
                GCE Ordinary Level with Credit passes to Mathematics and English.<br>
                Higher educational qualifications will be an added advantage.<br>
                Computer literacy.<br>
                Candidates must be smart, dynamic and outgoing with an aptitude for a high degree of customer relations.<br>
                School leavers are also encouraged.<br><br>

                If you are confident & possess the capabilities to take up a challenging & progressive career, Please send your CV to careers@lankabell.net<br><br>

                Please post your CV to:<br><br>

                Assistant Manager – Human Resources<br>
                Lanka Bell Limited.<br>
                No: 344, Galle Road, Colombo 03.
          </div>


          <div role="tabpanel" class="tab-pane fade" id="Section8">
            <h3>Cashier Cum Customer Care Representatives</h3>
            <h2><p class="font-weight-bold mt-5">We are looking for candidates residing in the following areas</p></h2>
            <p class="m-5"></p>  Bambalapitiya, Colpetty, Kadawatha, Negombo, Nugegoda, Malabe, Mount Lavinia, Polonnaruwa, Piliyandala, Tissamaharama & Trincomalee.<br><br>

              Job Responsibility<br>
              Attend to internal & external customer related activities.<br>
              Processing payment receipts.<br>
              Coordination with various department/ Clusters.<br>
              Handling payments/Cash.<br><br>

              Qualifications and Requirement<br>
              GCE Ordinary Level with Credit passes to Mathematics and English.<br>
              Higher educational qualifications will be an added advantage.<br>
              Computer literacy.<br>
              Candidates must be smart, dynamic and outgoing with an aptitude for a high degree of customer relations.<br>
              School leavers are also encouraged.<br><br>

              If you are confident & possess the capabilities to take up a challenging & progressive career, Please send your CV to careers@lankabell.net<br><br>

              Please post your CV to:<br><br>

              Assistant Manager – Human Resources<br>
              Lanka Bell Limited.<br>
              No: 344, Galle Road, Colombo 03.

        </div>


        <div role="tabpanel" class="tab-pane fade" id="Section9">
          <h3>Business Development Executive</h3>
          <h2><p class="font-weight-bold mt-5">Job Responsibility</p></h2>

          <p class="m-5"> Ensure the timely monthly bill payments of the allocated customer base.<br>
            Gathering and providing market information/ competitor activity in the assigned focused industries including timely preparation of reports.<br>
            Managing and growing our account share continuously & weakening competitor share in the assigned and acquired corporate accounts effectively & efficiently.<br>
            Ensure the organizational products, solutions & services consistently meet client requirements.<br><br>

            Qualifications / Experience / Skills & Other Requirements<br><br>

            GCE Ordinary Level with Credit passes to Mathematics and English.<br>
            Qualification in CIM-(UK)/SLIM or an equivalent professional qualification from a recognized university / institute would be an added advantage.<br>
            1 year experience in similar industry.<br>
            Excellent communication skill, presentation and negotiation skills.<br>
            Should have a valid driving license and a motorcycle.<br><br>

            If you are confident & possess the capabilities to take up a challenging & progressive career, Please send your CV to careers@lankabell.net<br><br>

            Please post your CV to:<br><br>

            Assistant Manager – Human Resources<br>
            Lanka Bell Limited.<br>
            No: 344, Galle Road, Colombo 03.
      </div>


              </div>
          </div>
      </div>
  </div>
  </div>

