<div class="container">
  <div class="new" id="D">
  <form>
    <div class="row">
      <div class="col ml-3 mt-2">
        <input type="text" class="form-control" placeholder="Person name">
      </div>
      <div class="col mt-2">
      <input type="text" class="form-control" placeholder="Location">
      </div>
      <div class="col">

        <div class="col-sm-4">
          <a href="#" class="btn btn-lg red">Search<i class="fa fa-search"></i></a>
      </div>

      </div>
    </div>
 </form>
  </div>

  <div class="row mt-5">
    <div class="col-8">
    <div class="card text-white border-dark " id="CA" style="max-width: 65rem;">
      <div class="card-header">Search Results</div>
    <div class="col-8 mt-5">
      <div class="card text-dark border-primary " style="width: 45rem;">

        <div class="card-body">
          <h5 class="card-title">MR. W G I SUPUN CHANDANA</h5>
          <p class="card-text"><i class="fa fa-phone" aria-hidden="true"></i> 0915611747 </p>
          <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> 134 E ATAHAULA TALGAMPALA GALLE </p>
        </div>

      </div>

      <div class="card text-dark border-primary mt-2 " style="width: 45rem;">

        <div class="card-body">
          <h5 class="card-title">MR. W G I SUPUN CHANDANA</h5>
          <p class="card-text"><i class="fa fa-phone" aria-hidden="true"></i> 0915611747 </p>
          <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> 134 E ATAHAULA TALGAMPALA GALLE </p>
        </div>

      </div>

      <div class="card text-dark border-primary mt-2" style="width: 45rem;">

        <div class="card-body">
          <h5 class="card-title">MR. W G I SUPUN CHANDANA</h5>
          <p class="card-text"><i class="fa fa-phone" aria-hidden="true"></i> 0915611747 </p>
          <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> 134 E ATAHAULA TALGAMPALA GALLE </p>
        </div>

      </div>

      <div class="card text-dark border-primary mt-2" style="width: 45rem;">

        <div class="card-body">
          <h5 class="card-title">MR. W G I SUPUN CHANDANA</h5>
          <p class="card-text"><i class="fa fa-phone" aria-hidden="true"></i> 0915611747 </p>
          <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> 134 E ATAHAULA TALGAMPALA GALLE </p>
        </div>

      </div>

      <div class="card text-dark border-primary mt-2" style="width: 45rem;">

        <div class="card-body">
          <h5 class="card-title">MR. W G I SUPUN CHANDANA</h5>
          <p class="card-text"><i class="fa fa-phone" aria-hidden="true"></i> 0915611747 </p>
          <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> 134 E ATAHAULA TALGAMPALA GALLE </p>
        </div>

      </div>

    </div>
    </div>
  </div>
    <div class="col-2">
      <img width="350" height="330" alt="Angular Logo" src="assets/Images/pic(3).jpg">
      <img width="350" height="330" alt="Angular Logo" src="assets/Images/qqq(2).jpg">
    </div>
 </div>
</div>
