<section id="mu-slider">
<owl-carousel-o [options]="customOptions">
<ng-template carouselSlide>
   <!-- Start single slider item -->
   <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="../../assets/img/slider/1.jpg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
      <h4>Lanka Bell</h4>
      <span></span>
      <h2>We Will Help You To Learn</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
      <a href="#" class="mu-read-more-btn">Read More</a>
    </div>
  </div>
  <!-- Start single slider item -->
</ng-template>
<ng-template carouselSlide> <!-- Start single slider item -->
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="../../assets/img/slider/2.jpg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
      <h4>Lanka Bell</h4>
      <span></span>
      <h2>Best Lanka Bell Services</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
      <a href="#" class="mu-read-more-btn">Read More</a>
    </div>
  </div>
  <!-- Start single slider item -->
</ng-template>
<ng-template carouselSlide>
  <div class="mu-slider-single">
    <div class="mu-slider-img">
      <figure>
        <img src="../../assets/img/slider/3.jpg" alt="img">
      </figure>
    </div>
    <div class="mu-slider-content">
      <h4>Lanka Bell</h4>
      <span></span>
      <h2>Broadband For Everyone</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
      <a href="#" class="mu-read-more-btn">Read More</a>
    </div>
  </div>
</ng-template>
</owl-carousel-o>
</section>
<!-- Start about us counter -->
<section id="mu-abtus-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-abtus-counter-area">
          <div class="row">
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single" routerLink="/portallogin">
                <span class="fa fa-signal"></span>
                <h4 class="counter"></h4>
                <p>Bell 4G </p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single" routerLink="/onlinepayment">
                <span class="fa fa-retweet"></span>
                <h4 class="counter"></h4>
                <p>Online Relaod</p>
              </div>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <a target="_blank" href="http://lankabellstore.000webhostapp.com">
              <div class="mu-abtus-counter-single" target="_blank" href="http://lankabellstore.000webhostapp.com">
                <span class="fa fa-shopping-cart"></span>
                <h4 class="counter"></h4>
                <p>Bell Store</p>
              </div></a>
            </div>
            <!-- End counter item -->
            <!-- Start counter item -->
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single" routerLink="/directory">
                <span class="fa fa-book"></span>
                <h4 class="counter"></h4>
                <p>Directory</p>
              </div>
            </div>
            <!-- End counter item -->
             <!-- Start counter item -->
             <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-abtus-counter-single no-border" routerLink="/">
                <span class="fa fa-envelope"></span>
                <h4 class="counter"></h4>
                <p>Bell Mail</p>
              </div>
            </div>
            <!-- End counter item -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End about us counter -->

  <!-- Start about us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div class="mu-title">
                    <h2>About Us</h2>
                  </div>
                  <!-- End Title -->
                  <p>Lanka Bell is a world-class telecommunications operator that provides a full range of telecommunication services to businesses and residential customers in Sri Lanka.</p>
                  <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Saepe a minima quod iste libero rerum dicta!</li>
                    <li>Voluptas obcaecati, iste porro fugit soluta consequuntur. Veritatis?</li>
                    <li>Ipsam deserunt numquam ad error rem unde, omnis.</li>
                    <li>Repellat assumenda adipisci pariatur ipsam eos similique, explicabo.</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat harum facilis excepturi et? Mollitia!</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-right">
                <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs" target="mutube-video">
                  <img src="assets/img/about-us.jpg" alt="img">
                </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-building"></span>
              <h3>Bell Enterprise</h3>
              <ul>
                <li>Voice & Text</li>
                <li>Data</li>
                <li>iDC (Internet Data Center)</li>
                <li>International Services</li>
                <li>Bell Fax</li>
              </ul>
             </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-home"></span>
              <h3>Bell Home</h3>
              <ul>
                <li>Post Pay</li>
                <li>Prepaid</li>
                <li>VAS</li>
                <li>IDD </li>
                <li>.</li>
              </ul>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-shopping-cart"></span>
              <h3>Bell store</h3>
              <ul>
                <li>Bellstore Online </li>
                <li>.</li>
                <li>.</li>
                <li>.</li>
                <li>.</li>
              </ul>
            </div>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-globe"></span>
              <h3>Internet</h3>
              <ul>
                <li>Bell4G</li>
                <li>Coverage Map</li>
                <li>.</li>
                <li>.</li>
                <li>.</li>
              </ul>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-pie-chart"></span>
              <h3>My Lanka Bell</h3>
              <ul>
                <li>Bell4G Online</li>
                <li>Bell Online</li>
                <li>Bell Broadband</li>
                <li>Online Payment</li>
                <li>Directory</li>
              </ul>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-bell"></span>
              <h3>Bell Care</h3>
              <ul>
                <li>Hot Line - 1575</li>
                <li>Head Office</li>
                <li>Branch Network</li>
                <li>.</li>
                <li>.</li>
              </ul>
           </div>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Start features section -->
  <section id="mu-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-features-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>Join Our Community , Today!</h2>
              <p>Lanka Bell is an equal opportunity employer, who believes in performance based career growth with fair remunerations and rewards system. We ensure that all our employees are treated equally without prejudice. While taking the challenge to transform the local telecommunication industry by benchmarking with global standards, we currently strive for excellence by diversifying into new business areas to ensure sustainable growth.
              </p>
              <button class="btn btn-primary" routerLink="/career">Apply Now!</button>
              </div>
            <!-- End Title -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End features section -->


